.home {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 30px;
  font-family: 'Roboto';
}

.text-container {
  width: 100vw;
}

.timer-container {
  box-shadow: 0px 4px 16px 0px #bfbfbf;
  padding: 30px;
  width: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  margin-right: 10px;
  height: 25px;
  width: 25px;
}

.timer-text {
  color: #333333;
  font-weight: 500;
}

.time-text {
  font-size: 25px;
  color: #333333;
  font-weight: bold;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 30px;
}

.start {
  background-color: #1db05f;
  border-radius: 16px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
}

.stop {
  background-color: #ef0d36;
  border-radius: 16px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
}

.reset {
  background-color: #eaa800;
  border-radius: 16px;
  padding: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-weight: 500;
}

.clock {
  width: 500px;
  display: none;
}
